/*首頁照片設定*/
header.masthead {
	  padding-top: 10.5rem;
	  text-align: center;
	  color: #fff;
	  background-image: url("../assets/img/Earth.jpg");
	  background-repeat: no-repeat;
	  background-attachment: scroll;
	  background-position: center center;
	  background-size: cover;
	}
.row{
	 justify-content:space-around;
}
div#icon{
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
}
div#icon i a:hover{
	text-shadow:  2px 2px 3px gray;
}
